[submodule "components/4x4_matrix_keypad_driver"]
	path = components/4x4_matrix_keypad_driver
	url = https://github.com/lafftale1999/4x4_matrix_keypad_driver.git
	branch = esp32_version
[submodule "components/lcd_1602_i2c_driver"]
	path = components/lcd_1602_i2c_driver
	url = https://github.com/lafftale1999/lcd_1602_i2c_driver.git
	branch = main
